body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f9fc;
  color: #333;
  margin-top: 100px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

